@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.NaviBar {
    background-color: white;
    padding: 10px 3em 10px 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add bottom shadow */
}

.NLeft {
    font-family: 'Vollkorn', serif;
    display: flex;
    align-items: center;
}

.NRight {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    gap: 2em;
}

.NRight li {
    list-style: none;
}

.NRight a {
    text-decoration: none;
}

.LINK a {
    color: black;
}

.BUTN a {
    padding: 10px;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.BUTN a:hover {
    padding: 10px;
    border: 1px solid black;
    color: black;
    background-color: white;
}

.btun {
    display: none;
}

.BarLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.BarLinks li {
    list-style: none;
}

.BarLinks a {
    text-decoration: none;
}

@media (max-width:710px) {
    .btun {
        display: block;
    }

    .NRight {
        display: none;
    }
}

/* Home part 1 starts */

.Hpart1 {
    margin-top: 60px;
    background-color: black;
    color: white;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Hpart1 p {
    text-align: center;
    width: 60%;
}

.Hpart1 img {
    margin-top: 1em;
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}


.Butns {
    display: flex;
    padding: 1em;
    gap: 1em;
}

.Butns a {
    text-decoration: none;
}

.BTN1 {
    border: 1px solid white;
    color: white;
    padding: 10px 20px 10px 20px;
}

.BTN1:hover {
    background-color: white;
    color: black;
    padding: 10px 20px 10px 20px;
}

.BTN2 {
    background-color: white;
    color: black;
    padding: 10px 20px 10px 20px;
    border: 1px solid white;
    border-radius: 30px;
}

.BTN2:hover {

    color: white;
    background-color: black;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
}

/* Hpart 2 starts here */

/* .felx {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(196, 193, 193);
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    overflow: hidden;
} */

.Hpart2 {
    overflow: hidden;
    /* Ensure content doesn't extend beyond this container */
}

.Hpart2 .row {
    margin: 0 -5px;
}

.Hpart2 .col {
    padding: 0 5px;
}

.Hpart2 .felx {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(196, 193, 193);
    margin-top: 0.5em;
    /* Adjusted margin-top */
    margin-bottom: 0.5em;
    /* Adjusted margin-bottom */
    padding: 1em;
}

@media (min-width: 576px) {
    .Hpart2 .felx {
        margin-top: 1em;
        /* Default margin-top for larger screens */
        margin-bottom: 1em;
        /* Default margin-bottom for larger screens */
    }
}


/* Hpart 3 starts here */

.Hpart3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5em 2em 5em 2em;
}

.card {
    border: none !important;
}

.card img {
    padding-left: 1em;
    width: 70px;

}

@media (max-width:950px) {
    .Hpart3 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 100% !important;
    }

}

/* Hpart 4 starts here */

.Hpart4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3em;
    margin-right: 3em;
    gap: 2em;
}

.HPleft {
    padding-top: 3em;
    padding-bottom: 3em;
    width: 60%;
}

.HPright {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HPright img {
    width: 500px;
}

.HPBtns {
    display: flex;
    gap: 1em;
}

.HPFirst {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
}

.HPSecond {
    text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 35px;
    padding: 0.5em 1em 0.5em 1em;
}

@media (max-width: 1030px) {
    .HPright img {
        width: 300px;
    }
}

@media (max-width:750px) {
    .Hpart4 {
        flex-direction: column-reverse;
    }

    .HPleft {
        width: 100%;
    }

    .HPright {
        width: 100%;
    }

    .HPright img {
        width: 500px;
    }
}

@media (max-width: 524px) {
    .HPright img {
        width: 300px;
    }
}

/* Hpart 5 starts here */
.Hpart5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em;
    padding-right: 3em;
    gap: 2em;
    background-color: black;
}

.HP5left img {
    width: 500px;
}

.HP5right {
    color: white;
}

.HP5Btns {
    display: flex;
    gap: 1em;
}

.HP5First {
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border: 1px solid white;
    color: white;
}

.HP5Second {
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    background-color: white;
    color: black;
    border-radius: 20px;
}

@media (max-width: 1030px) {
    .HP5left img {
        width: 300px;
    }
}

@media (max-width:750px) {
    .Hpart5 {
        flex-direction: column;
    }

    .HP5left {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .HP5right {
        width: 100%;
    }

    .HP5left img {
        width: 500px;
    }
}

@media (max-width: 524px) {
    .HP5left img {
        width: 300px;
    }
}

/* Hpart 9 start here */

.Hpart9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 3em;
    /* width: 60%; */
}

.Hpart9 h1 {
    /* width: 60%; */
    text-align: center;
}

.Hpart9 p {
    /* width: 60%; */
    text-align: center;
}

/* footer */
.fut {
    margin: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

.Lins {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.Lins li {
    list-style: none;
}

.lang {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 10px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.lang li {
    list-style: none;

}

.copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.start {
    display: flex;
    align-items: center;
    gap: 1em;
}

.start li {
    list-style: none;
}

.end {
    list-style: none;
}

@media (max-width:736px) {
    .Lins {
        flex-direction: column;
    }

    .copy {
        flex-direction: column;
    }
}